* {
  margin: 0px;
  padding: 0px;
}

/* .App {
  
} */

/*
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.header {
  padding: 10px;
}

.not-found-text {
  text-align: center;
  padding: 30px;
  font-size: 40px;
}

/* .link-container {
} */

.link-container a {
  margin-left: 8px;
  text-decoration: none;
}

.nav-list {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 8px;
}

.sign-in-link {
  display: flex;
  padding: 8px;
  text-decoration: none;
}
.signed-in-alert {
  display: flex;
  margin-left: 8px;
  font-size: 11px;
}

.sign-into-other-account-link {
  margin-left: 8px;
  display: flex;
}
.sign-in {
  padding: 8px;
}
/* .nav-link:hover {

} */

.home-page {
  padding: 0 8px;
}
.categories-list li {
  font-weight: bold;
}

.sorting-dropdowns {
  padding: 0 8px;
}
.review-order {
  padding: 0 8px;
}
.reviews-list {
  display: flex;
  flex: content;
  flex-wrap: wrap;
  list-style: none;
  flex-direction: row;
}

.review-tile {
  padding: 15px;
  max-width: 30%;
  max-height: 30%;
}
/* @media screen and (max-width: 768px) {
  .review-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
}
.review-tile {
  padding: 10px;
} */

.review-img {
  width: 100%;
}

.single-review {
  width: fit-content;
  padding: 8px;
}

.review-details {
  padding: 8px;
}

.single-review-img {
  max-width: 40%;
  border-radius: 8px;
}

.review-body {
  padding: 20px 0;
}

/* .comment-form {
} */

.comment-form label,
button {
  display: block;
}

.comment-tile {
  padding: 10px 0;
}

.home-category-header {
  padding: 5px 0;
}

.review-details-container {
  display: flex;
  align-items: center;
}
